/* GENERAL RULES */
* {
    font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}



/* REGOLE HEADER */

header {
    width: 100%;
    background-color: rgba(44,62,80,255);
    height: 60px;
    position: fixed;
    font-weight: bold;
    top: 0;
    left: 0;
    z-index: 100;
}

header a {
    color: white;
}

.alt {
    height: 70px;
}

#avatar-image {
    max-width: 100%;
}


/* NAVBAR RULES */
header .navbar-brand {
    color: white;
}

header .navbar-toggler {
    border: solid rgba(221,221,221,255);
}


header .nav-link {
    color: white;
}

header .navbar-brand:hover {
    color: white;
}

header .nav-link:hover {
    color: green;
}






/* REGOLE MAIN */
main {
    padding-top: 60px;
}

#fix-padding {
    padding-top: 20px;
}

.bg-not-white {
    width: 100%;
    background-color: rgba(26,188,156,255);
    margin-bottom: 30px;
}

.bg-white {
    width: 100%;
    background-color: white;
    margin-bottom: 30px;
}


.titolo-grande {
    font-size: 3.5rem;
}

.titolo-medio {
    font-size: 3rem;
}

.titolo-piccolo {
    font-size: 1.5rem;
}

.wh {
    color: white;
}

.bl {
    color: black;
}

.card-image {
    max-width: 100%;
    border-radius: 15px;
}

.line-wh {
    border-bottom: 2px solid white;
    height: 100%;
}

.line-bl {
    border-bottom: 2px solid black;
    height: 100%;
}

.fa-star {
    font-size: 2rem;
}

.box {
    position: relative;
}

#download-btn {
    border: 1px solid white;
}

#download-btn:hover {
    color: green;
}

/* REGOLE FORM */
.form-control {
    border: 0px;
    border-bottom: 1px solid grey;
    border-radius: 0;
    transition: none;
    padding-left: 0;
}

.form-control:focus {
    color: black;
    background-color: #fff;
    border-color: grey;
    outline: 0;
    box-shadow: none;
}

.form-control::placeholder {
    color: rgba(44,62,80,255);
    opacity: 1; /* Firefox */
    font-weight: bold;
  }



/* REGOLE FOOTER */
footer {
    width: 100%;
    background-color: rgba(58,84,109,255);
}

.bottom-footer {
    background-color: rgba(44,62,80,255);
}




/* DEBUG */
.debug {
    min-height: 70px;
    border: 2px solid black;
    background-color: red;
}
